<h1>Hi, <%= @user.name %> your booking has been updated, new booking details below.</h1>
<p class="text-center">
  <%= render @booking%>
</p>
<p>
  We have chosen to give you the best Flight booking service.
  Relax as we take you to greater heights.
</p>
<p>
  To login follow this link: <%= @url %>.
</p>
<p>Thanks for booking and have a great day!</p>
