<%provide(:title, "All Flights")%>
<h2 class="text-center">All Flights </h2>
<%=form_tag new_booking_path, method: "get" do %>
  <div class="form-wrapper">
  <%=hidden_field_tag :no_of_passengers, 1%>
  <%=render "flights/table", :flights => @flights, num: 1 %>
  <button class="btn btn-block btn-mine" type="submit"
  id="booker" name=nil>Book chosen Flight</button>
  <%= will_paginate @flights, renderer: BootstrapPagination::Rails %>
  </div>
<% end %>
