  <h2 class="text-center">Pay with Paypal checkout</h2>
  <%=link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"),
  express_checkout_path, alt: 'Check out with PayPal', class:"paypal"%>
