<div class="form-wrapper">
  <%form_for :booking, :url => "/find" do |f|%>
    <% hidden_field_tag :user_id, current_user.id %>
    <div class="form-group">
      <%f.label :id, "Booking Id"%>
      <%f.number_field :id, placeholder:"23"%>
    </div>
    <div class="form-group">
      <%f.label :passenger_id, "Passenger Id"%>
      <%f.number_field :passenger_id, placeholder:"19"%>
    </div>
    <div class="form-group">
      <%=link_to "Edit Passenger", edit_passenger(params[:passenger_id]),
      class:"btn btn-block btn-mine"%>
    </div>
  <%end%>
</div>
